php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone Europe/Moscow

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

# Get request address
RewriteRule ^(.+)$ index.php?route=$1 [L,QSA]

AddDefaultCharset utf-8
